apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: household-task-manager
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
