apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: household-task-manager
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Kamegrueon/household-task-manager-k8s.git
    targetRevision: HEAD
    path: overlays/production
  destination:
    server: https://kubernetes.default.svc
    namespace: household-task-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
